 <!-- form handling -->
 <form action="/api/users" method="POST" class="box" id="add_user">
    <div class="new_user">
        <div class="form-group">
        <br>
        <br>
            <label for="name" class="text-dark"><h1><u>Query</h1></u></label>
            <br>
            <input type="hidden" name="id" value="">
            <br>
            <input type="text" name="name" value="" placeholder="Type query here" class="form-control" style="border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border:3px solid black;
padding:14px 10px;
width:420px;
height:80px;
outline: none;
font-size:20px;
color: black;
border-radius: 24px;
transition:0.25px;">
        </div>
    

    
<br>
        <div class="form-group">
            <button type="submit" class="btn text-dark update" style="    border: 0;
background: #ffc400ec;
display: block;
margin: 20px auto;
text-align: center;
border:3px solid #ffc400ec;
padding:14px 35px;
outline: none;
color: black;
border-radius: 24px;
width:200px;
transition:0.25px;
cursor:pointer;">
ADD</button>
        </div>

    </div>
</form>